.file-scroller {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 0;
  width: 16%;
  max-height: 50%;
  overflow-y: auto;

  * {
    border-radius: 0;

    &:first-child {
      border-radius: 0 var(--border-radius) 0 0;
      text-align: center;
    }

    &:last-child {
      border-radius: 0 0 var(--border-radius) 0
    }
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;

    &:hover {
      background-color: #acb7c1;
    }
  }
}

.file-scroller-entry {
  padding: 10px;
  min-height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.file-scroller-upload-button {
  justify-content: center;

  *:first-child {
    margin-right: 10px;
  }
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input-button {
  cursor: pointer;
  position: relative;
  background-color: var(--blue-color);
  font-weight: bold;
  color: white;
  transition: background-color var(--button-transition-time), box-shadow var(--button-transition-time), color var(--button-transition-time), transform var(--button-transition-time);
  border: var(--border);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 8px 12px;

  &:hover {
    box-shadow: var(--button-drop-shadow-size) var(--button-drop-shadow-size) 0 var(--button-drop-shadow-size) var(--dark-gray-color);
    transform: translate(var(--button-hover-offset), var(--button-hover-offset));
    color: black;
    background-color: white;
  }
}

.green {
  color: #4ade45;
}

.red {
  color: #de454a;
}

.black {
  color: #333333;
}
