<div class="main-table">
  <div class="tab-selector-table">
    <span class="tab-selector" (click)="activeTab=1" [class.inactive-tab]="activeTab !== 1">Analysis</span>
    <span class="tab-selector" (click)="activeTab=2" [class.inactive-tab]="activeTab !== 2">Source Code</span>
    <span class="tab-selector" (click)="activeTab=3" [class.inactive-tab]="activeTab !== 3">Deobfuscated code</span>
  </div>

  <div class="tabs" *ngIf="activeFile !== undefined">
    <div class="tab-contents" *ngIf="activeTab == 1">
      <div class="tab-text">
        <div class="table-module">
          <div *ngIf="activeFile.readError">Error reading file</div>
          <div *ngIf="!activeFile.isMalicious && activeFile.macroModules.length>0 && !activeFile.readError">File is
            safe!
          </div>
          <div *ngIf="activeFile.macroModules.length===0 && !activeFile.readError">File is safe!<br>(No macro scripts
            detected)
          </div>

          <div class="mb-s" *ngIf="activeFile.stompedKeywords.length > 0">Detected <b>VBA stomping</b>! Keywords missing
            from source code:
          </div>
          <li *ngFor="let kw of activeFile.stompedKeywords">
            <span class="list-flex-sb">
              <span>{{kw.keyword}}</span><span class="sneaky">({{kw.module.name}})</span>
            </span>
          </li>

          <div *ngFor="let f of activeFile.suspiciousKeywords; let i = index">
            <div class="mb-s">Autoexec function <b>{{f.func.name}}</b> contains suspicious keywords:</div>
            <li *ngFor="let kw of activeFile.suspiciousKeywords[i].words; let last = last;">
              <span>{{kw.word}}</span><span class="keyword-description">({{kw.description}})</span>
              <br *ngIf="last">
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-contents" *ngIf="activeTab == 2">
      <div class="sub-menu">
        <div>
          <input #showSourceCheckbox type="checkbox" id="show-source-code-checkbox" checked
                 (input)="null">
          <label for="show-source-code-checkbox">Show source code</label>
        </div>

        <div>
          <input #showPcodeCheckbox type="checkbox" id="show-pcode-checkbox"
                 (input)="null">
          <label for="show-pcode-checkbox">Show p-code</label>
        </div>

        <div class="indent-small">
          <input type="radio" name="pcode-radio" id="pcode-radio-1" checked [disabled]="!showPcodeCheckbox.checked">
          <label for="pcode-radio-1">Disassembled p-code</label>
        </div>
        <div class="indent-small">
          <input type="radio" name="pcode-radio" id="pcode-radio-2" [disabled]="!showPcodeCheckbox.checked">
          <label for="pcode-radio-2">Decompiled p-code</label>
        </div>
      </div>
      <div class="tab-text flexbox">
        <div class="direct-child flex-child" *ngIf="showSourceCheckbox.checked">
          <div *ngFor="let macroModule of activeFile.macroModules">
            <div class="module-header table-module">{{macroModule.name}}</div>
            <div class="code table-module">{{macroModule.sourceCode}}</div>
          </div>
        </div>
        <div class="direct-child flex-child border-left" *ngIf="showPcodeCheckbox.checked">
          <div *ngFor="let macroModule of activeFile.macroModules">
            <div class="module-header table-module">{{macroModule.name}}</div>
            <div class="code table-module">{{macroModule.pcode.join("\n")}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-contents" *ngIf="activeTab == 3">
      <div class="sub-menu"></div>
      <div class="tab-text"></div>
    </div>
  </div>
</div>
